@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    color: white;
    background: rgb(12, 12, 12);
    background-image: url(Img/GrainBG.png);
    margin: 0;
    padding: 0;
    background-color:rgb(61, 4, 16);
    overflow-x: hidden;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10%;
    transition: 0.6s;
 }

 .banner{
    position:relative;

 }

header.logo{
    position: relative;
    font-weight: 700;
    color: black;
    text-decoration: none;
    font-size: 2em;

}

 .logo img{
    max-width: 60px;
    height: auto;
 }

.navmenu{ /* Makes NAV aligned together */
    display: flex;
    position: relative;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navmenu a{
    color: rgb(255, 255, 255);
    font-size: 14px;
    padding: 10px 30px;
    font-weight: 400;
    transition: all .42s ease;
}

.navmenu a:hover{
    transform: scale(1.1);
    color: rgb(157, 2, 33);
}

.nav-icon{
    display: flex;
    align-items: center;
    size: 0cap;
} 

.nav-icon i{
    margin-right: 20px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover{
 transform: scale(1.1);
}
    
#menu-icon{
    font-size: 30px;
    color: rgb(255, 255, 255);
    /*z-index: 10001;
    cursor: pointer; */
    place-items: center;
    margin-top: 5px;
}

section{
    padding: 5% 10%;
}

.main-home{
    width:100%;
    height: 73vh;
    background-image: url(NEW/SFofficialbanner.png);
    background-position: center;
    display: flex;
    background-size: cover;
    display: grid;
    position: relative;
    grid-template-columns: repeat(1, 1fr);
}


.main-contact{
    width:100%;
    height: 90vh;
    background-image: url(NEW/CONTACTban1.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.main-text{ /* Make SPOTLIGHT TOUR Centered */
    width: 100%;
    right: 30px;
    color: white;
    position: absolute;
    top: 80%;
    text-align: center;
    align-items: center;
}

.main-btn{
    color: white;
    font-size: 14px;
    font-weight: 500;
    background-color: rgb(157, 2, 33);
    border: 2px solid rgb(148, 5, 33);
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-btn:hover{
    background-color: rgb(148, 5, 33);
    color: white;
}

.main-btn i{
    align-items: center;
}

#BryarIMG{
    width:100%;
    height: 83vh;
    background-image: url(Img/merchFINAL.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-bottom: 40px;
}

.sub-btn{
    display: inline-block;
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid rgb(148, 5, 33);
    padding: 12px 25px;
    transition: all .42s ease;
    text-align: center;
}

.sub-btn:hover{
    background-color: rgb(148, 5, 33);
    color: white;
}

.sub-btn i{
    vertical-align: middle;
}

.other-btn{ /* Make SPOTLIGHT TOUR Centered */
    width: 90%;
    color: white;
    position: absolute;
    margin-top: 940px;
    margin-bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header.sticky{
    padding: 5px 100px;
    background: black;
}

header.sticky{
    background-color: rgb(0, 0, 0);
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0 /10%);
}


/*Dropbox*/

.navmenu ul.sub-nav{
    position: absolute;
    background: black;
    width: 30%;
    height: 150px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.14) -1px 0px 1px rgba(0, 0, 0, 0.14);
    top: 25px;
    left: 25;
    visibility: hidden;
    opacity: 0;
}

.navmenu ul.sub-nav li{
    color: white;
    font-size: 14px;
    width: 100%;
    padding: 15px 0px;

}

.navmenu ul.sub-nav li:hover{
    color: white;
    box-shadow: 0;
}

.navmenu:hover ul.sub-nav{
    visibility:visible;
    opacity: 1;
}


/* MUSIC SECTION CSS */




.center-text h2{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: 50px; /*20*/
}

.center-text h3{
    color: white;
    font-size: 60px;
    text-align: center;
    margin-bottom: -300px;
}

#meet-btn{
    margin-top: -20px;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, auto));
    gap: 2.8rem;
}


.row{
    position: relative;
    transition: all .40s;
}

.row img{
    width: 100%;
    height: auto;
    transition: all .40s;
}

.row img:hover{
    transform: scale(0.95);
}

.price h4{
    color: white;
    margin-top: 7px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.price p{
    color: white;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}


.music-btn{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid rgb(148, 5, 33);
    padding: 12px 25px;
    transition: all .42s ease;
    
}


.music-btn:hover{
    background-color: rgb(148, 5, 33);
    color: white;
}

.music-btn i{
    vertical-align: middle;
}

.otherr-btn{ /* Make SPOTLIGHT TOUR Centered */
    width: 90%;
    color: white;
    position: absolute;
    left: 50%;
    text-align: center;
    margin-top: 480px;
    transform: translate(-50%, -50%);
}

#View-Mus{
    width:100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    display: grid;
    margin-top: -500px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

#View-Merch{
    width:100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    display: grid;
    margin-top: -470px;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}

.otherrr-btn{ /* Make SPOTLIGHT TOUR Centered */
    width: 90%;
    color: white;
    position: absolute;
    left: 50%;
    text-align: center;
    margin-top: 480px;
    transform: translate(-50%, -50%);
}

hr {    /*LINE */
    border: .75px solid #ccc;
    margin: 50px 0 60px;
    margin-top: 10px;
    background-position: center;
  }



.merch-btn{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid rgb(148, 5, 33);
    padding: 12px 25px;
    transition: all .42s ease;
    
}

.merch-btn:hover{
    background-color: rgb(148, 5, 33);
    color: white;
}

.merch-btn i{
    vertical-align: center;
}


  .otherrr-btn{ /* Make SPOTLIGHT TOUR Centered */
    width: 90%;
    color: white;
    position: absolute;
    margin-top: -730px;
    bottom: 70;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* END SECTION */


#BandMembers{
    width:100%;
    height: 100vh;
    background-image: url(NEW/AbSFrip.png);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-top: 30px;
    margin-bottom: 150px;
}


.about-btn{
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid rgb(148, 5, 33);
    padding: 12px 25px;
    transition: all .42s ease;
}

.about-btn:hover{
    background-color: rgb(148, 5, 33);
    color: white;
}

.about-btn i{
    vertical-align: middle;
}

.otherrr-btn{ /* Make SPOTLIGHT TOUR Centered */
    width: 90%;
    color: white;
    position: absolute;
    top: 440%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.otherrr-btn h3{
    font-size: 35px;
    margin-bottom: -2;
}

.otherrr-btn h1{
    margin-top: -8px;
    font-size: 70px;
    margin-bottom: 15px;
}


/*CONTACT PAGE*/


.conttt{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 7cap;
}

.conttt a{
    text-align: center;
    color:rgb(154, 19, 46);
    margin-bottom: 30px;
    font-size: 25px;
    line-height: 1.8em;
}

.conttt h1{
    text-align: center;
    font-size: 40px;
}

.conttt .space-between{
    justify-content: space-between;
}




.contact{
    background-color: rgb(61, 4, 16);
    margin-top: 100px;
    
}

.contact.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact.row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1.5rem black;
    border: .1rem solid black;

}


.contact .row .imageee img{
    width:100%;
    margin-bottom: 30px;
    height: 100%;
    align-items: center;
    display: flex;
    margin-top: 30px;
}

.contact p{
    margin-bottom: 15px;
    text-align: center;
}



.nav-icon{ /* Makes NAV aligned together */
    display: flex;
    position: relative;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 25px;
}



/* ABOUT PAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */




.beg-about{
        width:100%;
        height: 100vh;
        background-image: url(NEW/AbSFfull.png);
        background-position: center;
        display: flex;
        background-size: cover;
        display: grid;
        position: relative;
        grid-template-columns: repeat(1, 1fr);
}

.about-text{ /* Make SPOTLIGHT TOUR Centered */
    width: 100%;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.about-text h3{
    font-size: 35px;
    margin-bottom: -2;
}

.about-text h1{
    margin-top: -8px;
    font-size: 70px;
    margin-bottom: 15px;
    color:white;
}


.back-text h2{
    text-align: center;
    font-size: 40px;
}

.back-text p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: -30px;
    line-height: 2.5em;
}

.ab-memb h2 {
    text-align: center;
    padding: 5px 20px 20px 20px;
    font-size: 40px;
    margin-bottom: -60px;
}


#Sonya-Photocard {
    width: 100%;
    margin-left: auto;
    float: left;
    /* margin-bottom: 280px; */
    margin-right: 40px;
    margin-top: -150px;
}

.photo-1 h2{
    font-size: 25px;
    margin-bottom: 10px;
    text-align:left;
    margin-top: 130px;
} 

.photo-1 p{
    font-size: 16px;
    line-height: 2.5em;
    margin-bottom: 180px;
} 


#Zianna-Photocard {
    width: 100%;
    margin-left: auto;
    float: left;
    /* margin-top: 220px; */
    margin-right: 40px;
    margin-top: -170px;
    margin-bottom: 40px;
}

.photo-3 h2{
    margin-bottom: 10px;
    font-size: 25px;
    text-align:left;
} 

.photo-3 p{
    font-size: 16px;
    line-height: 2.5em;
    margin-bottom: 200px;
} 




#Dawson-Photocard {
    width: 100%;
    margin-left: auto;
    float: right;
    margin-left: 40px;
    margin-right: -40px;
    margin-top: -200px;
}


.photo-2 h2{
    margin-bottom: 10px;
    text-align:right;
    font-size: 25px;
} 

.photo-2 p{
    font-size: 16px;
    line-height: 2.5em;
    margin-bottom: 180px;
} 





#Brantly-Photocard {
    width: 100%;
    margin-left: auto;
    float: right;
    margin-left: 40px;
    margin-top: -165px;
    margin-bottom: 150px;
}

.photo-4 h2{
    margin-bottom: 10px;
    font-size: 25px;
    text-align: right;
} 

.photo-4 p{
    font-size: 16px;
    line-height: 2.5em;
    margin-bottom: 150px;
} 

@media only screen and (max-width : 765px){ /* Phone  */
    .back-text h2{
        text-align: center;
        font-size: 20px;
    }
    }

@media only screen and (min-width : 765px){ /* Not Phone  */
    #Sonya-Photocard{
    width: 500px;
    margin-left: auto;
    float: left;
    /* margin-bottom: 280px; */
    margin-right: 40px;
    margin-top: -150px;
}
#Dawson-Photocard {
    width: 500px;
    margin-left: auto;
    float: right;
    margin-left: 40px;
    margin-top: -200px;
}

#Zianna-Photocard {
    width: 500px;
    margin-left: auto;
    float: left;
    /* margin-top: 220px; */
    margin-right: 40px;
    margin-top: -170px;
    margin-bottom: 10px;
}

#Brantly-Photocard {
    width: 500px;
    margin-left: auto;
    float: right;
    margin-left: 40px;
    margin-top: -165px;
    margin-bottom: 10px;
}


}



/* INDIVIDUAL SHOP PAGE!!!!!!!!!!!!!!!!!!!!!!!!!! */


.main-shope{
    width:100%;
    height: 520px;
    background-image: url(NEW/SHOPbanner.png);
    background-position: center;
    background-size: cover;
    display: grid;
    position: relative;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    margin-bottom: -50px;

}

#top-1 {
    width: 460px;
    float: left;
    margin-bottom: 1000px;
    margin-right: 40px;
}


.container-product {
    margin-top: 80px;
    margin-left: 80px;
}

.cont h6{
    font-size: 16px
}

.cont h3{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.cont h2{
    font-size: 25px;
    margin-bottom: 30px;
}

.cont h4{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.cont span{
    line-height: 2em;
}

.buy-btn {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid rgb(148, 5, 33);
    padding: 12px 25px;
    transition: all .42s ease;
    margin-top: 16px;
}


.buy-btn:hover{
    background-color: rgb(148, 5, 33);
    color: none;
}

.buy-btn i{
    vertical-align: middle;
}

.container-product select{
    display: block;
    padding: 5px 10px;;
}

.container-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;

}



.main-shop h2{
    margin-top: 50px;
}

.merch-shop h2{
    margin-top: 0px;
}

.music-shop h2{
    margin-top: 50px;
}

#BandMembers h2{
    font-size: 50px;
    margin-bottom: -80px;
    margin-top: 100px;
}







/* TOUR DATES!!!!!!!!!!!!!!!!!!!! */

#TourPage{
    width:100%;
    height: 80vh;
    object-fit:contain;
    background-image: url(Img/SFmainBan.png);
    background-position: center;
    background-size: cover;
    display: grid;
    position: relative;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}



.box{
    margin-top: 70px;
    margin-left:70px;
    margin-right: 70px;
    margin-bottom: 100px;
    background-color:transparent;
    border-width: .5px;
    border-style: solid;
    border-color: white;
}

#tourB {
    margin-top: -100px;
    margin-right: 60px;
    margin-bottom: 100px;
}



.box h2{
    margin-top: 25px;
    margin-left: 60px;
    margin-right: 25px;
}

.box p{
    margin-top: 10px;
    margin-left: 60px;
    margin-right: 25px;
    margin-bottom: 50px;
    line-height: 1.5em;
}

.box a{
    float: right;
}


.tour-btnn{
    color: white;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid rgb(148, 5, 33);
    padding: 12px 25px;
    transition: all .42s ease;
    
}

.tour-btnn:hover{
    background-color: rgb(148, 5, 33);
    color: white;
}








/* SHOPPING CART!! */




/* CONTACT PAGE!!!!!!!!!!!!!!!!!!!!!!!! */




.background{
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: -40px;
}


.booking-form{
    background-color:rgb(93, 4, 23);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin-bottom: 150px;
}

.booking-form h2{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.booking-form form{
    display: flex;
    flex-direction: column;
}

.booking-form input{
    padding: 8px;
    border: 1px solid white;
    border-radius: 5px;
}

.booking-form button{
    margin-top: 10px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}






.back-text h2{
    text-align: center;
    font-size: 40px;
}

.back-text p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: -30px;
    line-height: 2.5em;
}

.cust-serv{
    line-height: 3em;
    margin-bottom: -60px;
    margin-top: -20px;
}

.cust-serv h2{
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: 20px;
}


.cust-serv h3{
    font-size: 20px;
    margin-top: 50px;
}

.cust-serv h4{
    color:rgb(145, 26, 50);
    text-align: center;
    font-size: 18px;
}

.cust-serv p{
    text-align: center;
}


.serv{
    line-height: 3em;
}

.serv h2{
    font-size: 40px;
    margin-top: 30px;
}


.serv h3{
    font-size: 20px;
    margin-top: 50px;
}

.serv h4{
    color:rgb(165, 21, 50);
    font-size: 20px;
    margin-top: 30px;
}


@media(max-width:890px){
    header{
        padding: 20px 3%;
        transition: .4s;
    }
}

@media(max-width:630px){
    .main-btn h1{
        padding: 10px 20px;
        transition: .4s;
    }
}


/* SHOP PAGES BANNER */



@media(max-width:500px){ /* Index page PHONE SCREEN/ INDEX MAIN PAGE */
    .navmenu{
        display: none;
    }

    .menu-icon{
        display: flex;
    }

    .contact{
        background-color: rgb(61, 4, 16);
        margin-top: 300px;
        
    }

    .main-home{
        width:100%;
        height: 35vh;
        background-image: url(NEW/SFofficialbanner.png);
        background-position: center;
        display: flex;
        background-size: cover;
        display: grid;
        position: relative;
        grid-template-columns: repeat(1, 1fr);
    }


    #BryarIMG{
        width:100%;
        margin-bottom: 0px;
        height: 830px;
        object-fit:contain;
        background-image: url(NEW/merchFINALphone.png);
        background-position: center;
        background-size: cover;
        display: grid;
        position: relative;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }

    .other-btn{
        margin-bottom: 50px;
    }

    .booking-form{
        margin-bottom: -60px;
    }

    .main-btn{
        color: white;
        font-size: 10px;
        font-weight: 500;
        background-color: rgb(157, 2, 33);
        border: 2px solid rgb(148, 5, 33);
        padding: 10px 20px;
        transition: all .42s ease;
    }

    .sub-btn{
        display: inline-block;
        color: hsl(0, 0%, 100%);
        font-size: 12px;
        font-weight: 500;
        border: 2px solid rgb(148, 5, 33);
        padding: 10px 20px;
        transition: all .42s ease;
    }


    .merch-btn{
        display: inline-block;
        color: hsl(0, 0%, 100%);
        font-size: 14px;
        font-weight: 500;
        border: 2px solid rgb(148, 5, 33);
        padding: 10px 20px;
        transition: all .42s ease;
    }

    #exclusiveCD{
        margin-bottom: 50px;
    }

    #BandMembers{
        width:100%;
        height: 45vh;
        background-image: url(NEW/AbSFrip.png);
        background-position: center;
        background-size: cover;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-top: 120px;
        text-align: center;
        
    }

    .center-text h3{
        font-size: 30px;
    }

    .main-text{ /* Make SPOTLIGHT TOUR Centered */
        width: 100%;
        right: 13px;
        color: white;
        position: absolute;
        top: 80%;
        text-align: center;
        align-items: center;
    }


    .other-btn{ /* Make SPOTLIGHT TOUR Centered */
        width: 90%;
        color: white;
        position: absolute;
        margin-top: 1000px;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .otherr-btn{ /* Make SPOTLIGHT TOUR Centered */
        width: 90%;
        color: white;
        position: absolute;
        left: 50%;
        text-align: center;
        margin-top: 530px;
        transform: translate(-50%, -50%);
    }

    .contact .row .imageee img{
        width:100%;
        margin-bottom: 30px;
        height: 100%;
        align-items: center;
        display: flex;
        margin-top: 30px;
    }

    }
    
    

    @media(max-width:1494px) and (min-width: 500px){ /* ipad1 screen / smaller comp */

    
        .main-home{
            width:100%;
            height: 70vh;
            background-image: url(NEW/SFofficialbanner.png);
            background-position: center;
            display: flex;
            background-size: cover;
            display: grid;
            position: relative;
            grid-template-columns: repeat(1, 1fr);
        }
    
        #BryarIMG{
            width:100%;
            margin-bottom: 30px;
            height: 65vh;
            object-fit:contain;
            background-image: url(Img/merchFINAL.png);
            background-position: center;
            background-size: cover;
            display: grid;
            position: relative;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
        }

        .products{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(380px, auto));
            gap: 2.8rem;
        }

        .other-btn{ /* Make SPOTLIGHT TOUR Centered */
            width: 90%;
            color: white;
            position: absolute;
            margin-top: 940px;
            margin-bottom: 215px;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .otherr-btn{ /* Make SPOTLIGHT TOUR Centered */
            width: 100%;
            color: white;
            position: absolute;
            left: 50%;
            text-align: center;
            margin-top: 510px;
            transform: translate(-50%, -50%);
        }



    }




    @media(max-width:1005px) and (min-width: 800px){ /* ipad2 screen / smaller comp */

        .products{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, auto));
            gap: 2.8rem;
        }

        .main-home{
            width:100%;
            height: 55vh;
            background-image: url(NEW/SFofficialbanner.png);
            background-position: center;
            display: flex;
            background-size: cover;
            display: grid;
            position: relative;
            grid-template-columns: repeat(1, 1fr);
        }

        #BryarIMG{
            width:100%;
            margin-bottom: 30px;
            height: 55vh;
            object-fit:contain;
            background-image: url(Img/merchFINAL.png);
            background-position: center;
            background-size: cover;
            display: grid;
            position: relative;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
        }

        .other-btn{ /* Make SPOTLIGHT TOUR Centered */
            width: 90%;
            color: white;
            position: absolute;
            margin-top: 940px;
            margin-bottom: 300px;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }


        #BandMembers{
            width:100%;
            height: 80vh;
            background-image: url(NEW/AbSFrip.png);
            background-position: center;
            background-size: cover;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            margin-top: 120px;
            text-align: center;
        }





    }







    @media(min-width: 800px){ /* ipad3 screen */
    #menu-bar{
        display: none;
    } 
}


    @media(max-width:800px) and (min-width: 500px){ /* ipad3 screen */

        .navmenu{
            display: none;
        }
    
        .menu-icon{
            display: flex;
        }

        .products{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, auto));
            gap: 2.8rem;
        }

        .other-btn{ /* Make SPOTLIGHT TOUR Centered */
            width: 90%;
            color: white;
            position: absolute;
            margin-top: 830px;
            margin-bottom: 300px;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .main-home{
            width:100%;
            height: 50vh;
            background-image: url(NEW/SFofficialbanner.png);
            background-position: center;
            display: flex;
            background-size: cover;
            display: grid;
            position: relative;
            grid-template-columns: repeat(1, 1fr);
        }

        #BryarIMG{
            width:100%;
            height: 45vh;
            object-fit:contain;
            background-image: url(Img/merchFINAL.png);
            background-position: center;
            background-size: cover;
            display: grid;
            position: relative;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
        }

        #BandMembers{
            width:100%;
            height: 75vh;
            background-image: url(NEW/AbSFrip.png);
            background-position: center;
            background-size: cover;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
            margin-top: 70px;
            text-align: center;
        }

        .otherr-btn{
            margin-top: 500px;
        }

        .center-text h3{

            color: white;
            font-size: 40px;
            text-align: center;
            margin-top: 50px;
        }


    }



    @media(max-width:650px) and (min-width: 500px){ /* ipad3 screen */

        #BryarIMG{
            width:100%;
            height: 35vh;
            object-fit:contain;
            background-image: url(Img/merchFINAL.png);
            background-position: center;
            background-size: cover;
            display: grid;
            position: relative;
            grid-template-columns: repeat(1, 1fr);
            align-items: center;
        }

    }



/* ------------- SHOP ALL ---------------------------*/


    @media(max-width:1389px) and (min-width: 1050px){ /* ipad3 screen */
        .main-shope{
            height: 38vh;
        }

    }

    @media(max-width:1050px) and (min-width: 835px){ /* ipad3 screen */
        .main-shope{
            height: 30vh;
        }
    }

    @media(max-width:835px) and (min-width: 680px){ /* ipad3 screen */
            .main-shope{
                height: 24vh;
        }

    }

    @media(max-width:680px) and (min-width: 500px){ /* ipad3 screen */
        .main-shope{
            height: 39vh;
        }

        .main-shope{
            background-image: url(NEW/SHOPbanner2.png);
        }
    }

    @media(max-width:500px) and (min-width: 450px){ /* ipad3 screen */
        .main-shope{
            height: 29vh;
        }

        .main-shope{
            background-image: url(NEW/SHOPbanner2.png);
        }
    }

    @media(max-width:450px) and (min-width: 100px){ /* ipad3 screen */
        .main-shope{
            height: 25.8vh;
        }

        .main-shope{
            background-image: url(NEW/SHOPbanner2.png);
        }
    }

     




/* ---------------------- ABOUT PAGE -------------------*/



@media(max-width:1175px) and (min-width: 915px){ /* ipad3 screen */
    .beg-about{
        height: 70vh;
    }
}

@media(max-width:915px) and (min-width: 670px){ /* ipad3 screen */
    .beg-about{
        height: 52vh;
    }
}

@media(max-width:670px) and (min-width: 555px){ /* ipad3 screen */
    .beg-about{
        height: 42vh;
    }
}

@media(max-width:555px) and (min-width: 420px){ /* ipad3 screen */
    .beg-about{
        height: 32vh;
    }
}

@media(max-width:420px) and (min-width: 100px){ /* ipad3 screen */
    .beg-about{
        height: 25vh;
    }
}


@media(max-width:700px){ /*Bring text down below pics for about the members */
    .ab-memb h2 {
        margin-bottom: -20px;
    }

}


@media(max-width:670px)and (min-width:500px){ /*PHONE TEXT*/
    .about-text h3{
        font-size: 30px;
    }

    .about-text h1{
        font-size: 45px;
    }



    .back-text h2{
        text-align: center;
        font-size: 30px;
    }

    .back-text p{
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: -30px;
        line-height: 2.5em;
}

}


@media(max-width:500px){
    .about-text h3{
        font-size: 20px;
    }

    .about-text h1{
        font-size: 35px;
    }



    .back-text h2{
        text-align: center;
        font-size: 30px;
    }

    .back-text p{
        font-size: 12px;
        margin-top: 20px;
        margin-bottom: -30px;
        line-height: 2.5em;
    }

    .ab-memb h2 {
        font-size: 30px;
        margin-top: 30px;
    }

    .photo-1 p{
        font-size: 12px;
    } 
    .photo-2 p{
        font-size: 12px;
    } 
    .photo-3 p{
        font-size: 12px;
    } 
    .photo-4 p{
        font-size: 12px;
    } 



}


@media(max-width:980px){ /*Bring text down below pics for about the members */

#Sonya-Photocard {
    width: 100%;
    float: center;
    /* margin-bottom: 280px; */
    margin-right: 40px;
    margin-top: -150px;
    margin-bottom: 30px;
}

.photo-1 h2{
    font-size: 25px;
    margin-bottom: 10px;
    text-align:center;
} 

.photo-1 p{
    line-height: 2.5em;
    margin-bottom: 180px;
} 


#Zianna-Photocard {
    width: 100%;
    float: center;
    /* margin-top: 220px; */
    margin-right: 40px;
    margin-top: -170px;
    margin-bottom: 30px;
}

.photo-3 h2{
    margin-bottom: 10px;
    font-size: 25px;
    text-align:center;
} 

.photo-3 p{
    line-height: 2.5em;
    margin-bottom: 200px;
} 



#Dawson-Photocard {
    width: 100%;
    float: center;
    margin-right: 0px;
    margin-top: -200px;
    margin-bottom: 30px;
}


.photo-2 h2{
    margin-bottom: 10px;
    text-align:center;
    font-size: 25px;
} 

.photo-2 p{
    line-height: 2.5em;
    margin-bottom: 180px;
} 

#Brantly-Photocard {
    width: 100%;
    float: center;
    margin-left: 40px;
    margin-top: -165px;
    margin-bottom: 30px;
}

.photo-4 h2{
    margin-bottom: 10px;
    font-size: 25px;
    text-align: center;
} 

.photo-4 p{
    line-height: 2.5em;
    margin-bottom: 10px;
} 


}



/*--------------- TOUR DATES -------------------*/


@media(max-width:1110px) and (min-width: 900px){

    #TourPage{
        height: 60vh;
    }

}

@media(max-width:900px) and (min-width: 785px){

    #TourPage{
        height: 52vh;
    }

}

@media(max-width:785px) and (min-width: 650px){

    #TourPage{
        height: 42vh;
    }

}

@media(max-width:650px) and (min-width: 540px){

    #TourPage{
        height: 35vh;
    }

}

@media(max-width:540px) and (min-width: 426px){

    #TourPage{
        height: 28vh;
    }

}

@media(max-width:426px) and (min-width: 100px){

    #TourPage{
        height: 22vh;
    }

}

@media(max-width:500px){

    .box{
        margin-top: 25px;
        margin-left:25px;
        margin-right: 20px;
    }
    

    .box h2{
        margin-top: 25px;
        font-size: 20px;
        margin-left: 20px;
    }
    
    .box p{
        margin-top: 20px;
        margin-bottom: 40px;
        line-height: 1.5em;
        font-size: 12px;
        margin-left: 20px;
    }
    

    .tour-btnn{
        color: white;
        font-size: 10px;
        font-weight: 500;
        border: 2px solid rgb(148, 5, 33);
        padding: 10px 20px;
        transition: all .42s ease;
        text-align:center;
        
    }

    #tourB {
        margin-top: -75px;
        margin-right: 20px;
        margin-bottom: 100px;
    }

    
    

}



@media(max-width:700px)and(min-width:500px){
.box{
    margin-top: 25px;
    margin-left:25px;
    margin-right: 25px;
    margin-bottom: 100px;
}
}








@media(max-width:1030px){  /* IND SHOP PAGE - IMAGE*/

    #top-1 {
        width: 665px;
        float: center;
        margin-bottom: 40px;
        background-position: center;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-top: 30px;

    }
}


@media(max-width:965px){  /* IND SHOP PAGE - IMAGE*/

    #top-1 {
        width: 665px;
        float: center;
        margin-bottom: 40px;
        background-position: center;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        margin-top: 30px;

    }


}






/*--------------- TOUR DATES -------------------*/


@media(max-width:1228px) and (min-width: 1070px){
    .main-contact{
        height: 75vh;
    }
}

@media(max-width:1070px) and (min-width: 910px){
    .main-contact{
        height: 64vh;
    }
}

@media(max-width:910px) and (min-width: 760px){
    .main-contact{
        height: 54vh;
    }
}

@media(max-width:760px) and (min-width: 100px){
    .main-contact{
        height: 44vh;
    }
}

@media(max-width:640px) and (min-width: 550px){
    .main-contact{
        height: 37vh;
    }
}

@media(max-width:550px) and (min-width: 426px){
    .main-contact{
        background-image: url(/NEW/PHONEcontact.png);
        height: 100vh;
    }
}

@media(max-width:426px) and (min-width: 345px){
    .main-contact{
        background-image: url(/NEW/PHONEcontact.png);
        height: 75vh;
    }
}

@media(max-width:345px) and (min-width: 269px){
    .main-contact{
        background-image: url(/NEW/PHONEcontact.png);
        height: 62vh;
    }
}

@media(max-width:269px) and (min-width: 0px){
    .main-contact{
        background-image: url(/NEW/PHONEcontact.png);
        height: 50vh;
    }
}







html, body {
    overflow-x: hidden;   /* Disables horizontal scrolling */
    overflow-y: auto;     /* Enables vertical scrolling */
  }


  /* MENU BAR */

  #menu-page{
    background-color:rgb(93, 4, 23);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    display: none;
  }

  #menu-page.active{
    display: flex;
  }

  #menu-page-wrapper{
    width: 100%;
    margin: auto;
    text-align: center;
  }

  #menu-page-wrapper ul{
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  #menu-page-wrapper ul li{
    padding:15px;
  }

  #menu-page-wrapper ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
  }

  #bxcart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin-top: 10px;
  }



  /* TOTE BAG ANYELY */

  #AngyToteF{
    width: 3%;
  }
